#### Installation of Pandas

In [5]:
pip install pandas

Requirement already satisfied: pandas in c:\users\gaura\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gaura\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\gaura\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\gaura\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\gaura\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\gaura\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

#### Import Pandas

In [6]:
import pandas as pd

#### Checking Pandas Version

In [7]:
import pandas as pd

print(pd.__version__)

2.0.3

#### Exercise 2 Creating Pandas Series

In [8]:
import pandas as pd

a = [1, 7, 2]

# --- Added the code here ---
myvar = pd.Series(a)
# ---------------------------

print(myvar)

0    1
1    7
2    2
dtype: int64

#### Exercise 3 Creating Labels

In [9]:
print(myvar[0])

1

In [13]:
import pandas as pd

a = [1, 7, 2]

# --- Added the code here ---
myvar = pd.Series(a, index = ["a", "b", "c"])
# ---------------------------

print(myvar)

a    1
b    7
c    2
dtype: int64

In [14]:
# --- Added the code here ---
print(myvar["c"])
# ---------------------------

2

#### Exercise 4 Key/Value Objects as Series

In [15]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

# --- Added the code here ---
myvar = pd.Series(calories)
# ---------------------------

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [16]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

# --- Added the code here ---
myvar = pd.Series(calories, index = ["day1", "day2"])
# ---------------------------

print(myvar)

day1    420
day2    380
dtype: int64

#### Exercise 5 Creating a DataFrame From Lists

#### Pandas - DataFrame

In [17]:
import pandas as pd

pepper_list = [
    [50, "Bell pepper", "Not even spicy"],
    [5000, "Espelette pepper", "Uncomfortable"],
    [500000, "Chocolate habanero", "Practically ate pepper spray"]
]

print(pepper_list)

[[50, 'Bell pepper', 'Not even spicy'], [5000, 'Espelette pepper', 'Uncomfortable'], [500000, 'Chocolate habanero', 'Practically ate pepper spray']]

In [18]:
# --- Added the code here ---
dataframe = pd.DataFrame(pepper_list)
# ---------------------------

print(dataframe)

        0                   1                             2
0      50         Bell pepper                Not even spicy
1    5000    Espelette pepper                 Uncomfortable
2  500000  Chocolate habanero  Practically ate pepper spray

#### Exercise 6 Adding the Column Name

In [20]:
import pandas as pd

pepper_list = [
    [50, "Bell pepper", "Not even spicy"],
    [5000, "Espelette pepper", "Uncomfortable"],
    [500000, "Chocolate habanero", "Practically ate pepper spray"]
]

# --- Added the code here ---
dataframe = pd.DataFrame(pepper_list, columns = ['Scoville', 'Name', 'Feeling'])
# ---------------------------

print(dataframe)

   Scoville                Name                       Feeling
0        50         Bell pepper                Not even spicy
1      5000    Espelette pepper                 Uncomfortable
2    500000  Chocolate habanero  Practically ate pepper spray

#### Exercise 7 Creating a DataFrame From Dictionaries

In [ ]:
import pandas as pd

pepper_dictionary = {
    'Scoville' : [50, 5000, 500000],
    'Name' : ["Bell pepper", "Espelette pepper", "Chocolate habanero"],
    'Feeling' : ["Not even spicy", "Uncomfortable", "Practically ate pepper spray"]
}

print(pepper_dictionary)

In [ ]:
# --- Added the code here ---
dataframe = pd.DataFrame()
# ---------------------------

print(dataframe)

#### Additionally, we can use the DataFrame.from_dict ( ) function:

In [21]:
import pandas as pd

pepper_dictionary = {
    'Scoville' : [50, 5000, 500000],
    'Name' : ["Bell pepper", "Espelette pepper", "Chocolate habanero"],
    'Feeling' : ["Not even spicy", "Uncomfortable", "Practically ate pepper spray"]
}

print(pepper_dictionary)

{'Scoville': [50, 5000, 500000], 'Name': ['Bell pepper', 'Espelette pepper', 'Chocolate habanero'], 'Feeling': ['Not even spicy', 'Uncomfortable', 'Practically ate pepper spray']}

In [23]:
# --- Added the code here ---
dataframe = pd.DataFrame.from_dict(pepper_dictionary)
# ---------------------------

print(dataframe)

   Scoville                Name                       Feeling
0        50         Bell pepper                Not even spicy
1      5000    Espelette pepper                 Uncomfortable
2    500000  Chocolate habanero  Practically ate pepper spray

#### Exercise 8 Reading a DataFrame From a CSV File

In [26]:
import pandas as pd

# --- Added the code here ---
dataframe  = pd.read_csv('peppers.csv')
# ---------------------------

print(dataframe)

   Scoville                Name                       Feeling
0        50         Bell pepper                Not even spicy
1      5000    Espelette pepper                 Uncomfortable
2     10000      Serrano pepper                 I regret this
3     60000    Bird's eye chili            4th stage of grief
4    500000  Chocolate habanero  Practically ate pepper spray
5   2000000     Carolina Reaper     Actually ate pepper spray

#### Exercise 9 Reading a DataFrame From an Excel File

In [ ]:
# Install a support library - OpenPyXL
#!pip install openpyxl

In [ ]:
import pandas as pd

# --- Added the code here ---
dataframe  = ('peppers.xlsx')
# ---------------------------

print(dataframe)

#### Exercise 10 Accessing a Column

In [30]:
import pandas as pd

dataframe  = pd.read_csv('peppers.csv')

print(dataframe)

   Scoville                Name                       Feeling
0        50         Bell pepper                Not even spicy
1      5000    Espelette pepper                 Uncomfortable
2     10000      Serrano pepper                 I regret this
3     60000    Bird's eye chili            4th stage of grief
4    500000  Chocolate habanero  Practically ate pepper spray
5   2000000     Carolina Reaper     Actually ate pepper spray

In [29]:
# Let's select the Name Column:

# --- Added the code here ---
print(dataframe)
# ---------------------------

   Scoville                Name                       Feeling
0        50         Bell pepper                Not even spicy
1      5000    Espelette pepper                 Uncomfortable
2     10000      Serrano pepper                 I regret this
3     60000    Bird's eye chili            4th stage of grief
4    500000  Chocolate habanero  Practically ate pepper spray
5   2000000     Carolina Reaper     Actually ate pepper spray

In [28]:
# Or, we can use the slightly different notation:

# --- Added the code here ---
print(dataframe)
# ---------------------------

   Scoville                Name                       Feeling
0        50         Bell pepper                Not even spicy
1      5000    Espelette pepper                 Uncomfortable
2     10000      Serrano pepper                 I regret this
3     60000    Bird's eye chili            4th stage of grief
4    500000  Chocolate habanero  Practically ate pepper spray
5   2000000     Carolina Reaper     Actually ate pepper spray

In [27]:
# What's the type of the resulting column? Let's check it out:

# --- Added the code here ---
print((dataframe['Name']))
# ---------------------------

0           Bell pepper
1      Espelette pepper
2        Serrano pepper
3      Bird's eye chili
4    Chocolate habanero
5       Carolina Reaper
Name: Name, dtype: object

#### Exercise 11 Accessing two Columns

In [31]:
# --- Added the code here ---
dataframe_truncated = dataframe[['Scoville', 'Name']]
# ---------------------------

print(dataframe_truncated)

   Scoville                Name
0        50         Bell pepper
1      5000    Espelette pepper
2     10000      Serrano pepper
3     60000    Bird's eye chili
4    500000  Chocolate habanero
5   2000000     Carolina Reaper

#### Accessing/Locating Elements

#### Exercise 12 Accessing an element using loc[ ]

In [32]:
import pandas as pd

dataframe  = pd.read_csv('peppers.csv')

print(dataframe)

   Scoville                Name                       Feeling
0        50         Bell pepper                Not even spicy
1      5000    Espelette pepper                 Uncomfortable
2     10000      Serrano pepper                 I regret this
3     60000    Bird's eye chili            4th stage of grief
4    500000  Chocolate habanero  Practically ate pepper spray
5   2000000     Carolina Reaper     Actually ate pepper spray

In [33]:
# --- Added the code here ---
print(dataframe.loc[5])
# ---------------------------

Scoville                      2000000
Name                  Carolina Reaper
Feeling     Actually ate pepper spray
Name: 5, dtype: object

#### Exercise 13 Accessing an element using iloc[ ]

In [34]:
import pandas as pd

dataframe  = pd.read_csv('peppers.csv')

print(dataframe)

   Scoville                Name                       Feeling
0        50         Bell pepper                Not even spicy
1      5000    Espelette pepper                 Uncomfortable
2     10000      Serrano pepper                 I regret this
3     60000    Bird's eye chili            4th stage of grief
4    500000  Chocolate habanero  Practically ate pepper spray
5   2000000     Carolina Reaper     Actually ate pepper spray

In [35]:
# --- Added the code here ---
print(dataframe.iloc[5])
# ---------------------------

Scoville                      2000000
Name                  Carolina Reaper
Feeling     Actually ate pepper spray
Name: 5, dtype: object

#### Exercise 14 Accessing Elements by a group of rows

In [36]:
import pandas as pd

dataframe  = pd.read_csv('peppers.csv')

print(dataframe)

   Scoville                Name                       Feeling
0        50         Bell pepper                Not even spicy
1      5000    Espelette pepper                 Uncomfortable
2     10000      Serrano pepper                 I regret this
3     60000    Bird's eye chili            4th stage of grief
4    500000  Chocolate habanero  Practically ate pepper spray
5   2000000     Carolina Reaper     Actually ate pepper spray

#### This also works for a group of rows, using the slice notation, such as from 0 .. n :

In [37]:
# This will retrieve all rows between 2 and 5

# --- Added the code here ---
print(dataframe.loc[2:5])
# ---------------------------

   Scoville                Name                       Feeling
2     10000      Serrano pepper                 I regret this
3     60000    Bird's eye chili            4th stage of grief
4    500000  Chocolate habanero  Practically ate pepper spray
5   2000000     Carolina Reaper     Actually ate pepper spray

In [40]:
# This will retrieve all rows between the start of the DataFrame and 3

# --- Added the code here ---
print(dataframe.loc[:3])
# ---------------------------

   Scoville              Name             Feeling
0        50       Bell pepper      Not even spicy
1      5000  Espelette pepper       Uncomfortable
2     10000    Serrano pepper       I regret this
3     60000  Bird's eye chili  4th stage of grief

#### Exercise 15 Accessing a specific values of rows

In [41]:
import pandas as pd

dataframe  = pd.read_csv('peppers.csv')

print(dataframe)

   Scoville                Name                       Feeling
0        50         Bell pepper                Not even spicy
1      5000    Espelette pepper                 Uncomfortable
2     10000      Serrano pepper                 I regret this
3     60000    Bird's eye chili            4th stage of grief
4    500000  Chocolate habanero  Practically ate pepper spray
5   2000000     Carolina Reaper     Actually ate pepper spray

In [42]:
# --- Added the code here ---
print(dataframe.loc[2, 'Name'])
# ---------------------------

Serrano pepper

#### Exercise 16 Accessing the columns by using loc [ ] and iloc [ ]

In [43]:
import pandas as pd

dataframe  = pd.read_csv('peppers.csv')

print(dataframe)

   Scoville                Name                       Feeling
0        50         Bell pepper                Not even spicy
1      5000    Espelette pepper                 Uncomfortable
2     10000      Serrano pepper                 I regret this
3     60000    Bird's eye chili            4th stage of grief
4    500000  Chocolate habanero  Practically ate pepper spray
5   2000000     Carolina Reaper     Actually ate pepper spray

In [46]:
# Column Number

# --- Added the code here ---
print(dataframe.iloc[:, 0:2])
# ---------------------------

   Scoville                Name
0        50         Bell pepper
1      5000    Espelette pepper
2     10000      Serrano pepper
3     60000    Bird's eye chili
4    500000  Chocolate habanero
5   2000000     Carolina Reaper

In [47]:
# Column Name

# --- Added the code here ---
print(dataframe.loc[:, 'Name'])
# ---------------------------

0           Bell pepper
1      Espelette pepper
2        Serrano pepper
3      Bird's eye chili
4    Chocolate habanero
5       Carolina Reaper
Name: Name, dtype: object

#### Manipulating Indices

#### Exercise 17 Change the indexing of the DataFrame using the set_index( )

In [40]:
import pandas as pd

dataframe  = pd.read_csv('peppers.csv')

print(dataframe)

   Scoville                Name                       Feeling
0        50         Bell pepper                Not even spicy
1      5000    Espelette pepper                 Uncomfortable
2     10000      Serrano pepper                 I regret this
3     60000    Bird's eye chili            4th stage of grief
4    500000  Chocolate habanero  Practically ate pepper spray
5   2000000     Carolina Reaper     Actually ate pepper spray

In [41]:
dataframe = dataframe.set_index('Scoville')

print(dataframe)

                        Name                       Feeling
Scoville
50               Bell pepper                Not even spicy
5000        Espelette pepper                 Uncomfortable
10000         Serrano pepper                 I regret this
60000       Bird's eye chili            4th stage of grief
500000    Chocolate habanero  Practically ate pepper spray
2000000      Carolina Reaper     Actually ate pepper spray

#### Exercise 18 Resetting Index

In [42]:
# --- Added the code here ---
dataframe.reset_index(inplace=True)
# ---------------------------

print(dataframe)

   Scoville                Name                       Feeling
0        50         Bell pepper                Not even spicy
1      5000    Espelette pepper                 Uncomfortable
2     10000      Serrano pepper                 I regret this
3     60000    Bird's eye chili            4th stage of grief
4    500000  Chocolate habanero  Practically ate pepper spray
5   2000000     Carolina Reaper     Actually ate pepper spray

#### Manipulating Rows

#### Exercise 19 Adding New Rows

In [51]:
import pandas as pd

dataframe  = pd.read_csv('peppers.csv')

print(dataframe)

   Scoville                Name                       Feeling
0        50         Bell pepper                Not even spicy
1      5000    Espelette pepper                 Uncomfortable
2     10000      Serrano pepper                 I regret this
3     60000    Bird's eye chili            4th stage of grief
4    500000  Chocolate habanero  Practically ate pepper spray
5   2000000     Carolina Reaper     Actually ate pepper spray

In [52]:
# --- Added the code here ---
dataframe.loc[50] = [2000000, 'Carolina Reaper', 'Actually ate pepper spray']
# ---------------------------

print(dataframe)

    Scoville                Name                       Feeling
0         50         Bell pepper                Not even spicy
1       5000    Espelette pepper                 Uncomfortable
2      10000      Serrano pepper                 I regret this
3      60000    Bird's eye chili            4th stage of grief
4     500000  Chocolate habanero  Practically ate pepper spray
5    2000000     Carolina Reaper     Actually ate pepper spray
50   2000000     Carolina Reaper     Actually ate pepper spray

#### Exercise 20 Removing Rows

In [53]:
import pandas as pd

dataframe  = pd.read_csv('peppers.csv')

print(dataframe)

   Scoville                Name                       Feeling
0        50         Bell pepper                Not even spicy
1      5000    Espelette pepper                 Uncomfortable
2     10000      Serrano pepper                 I regret this
3     60000    Bird's eye chili            4th stage of grief
4    500000  Chocolate habanero  Practically ate pepper spray
5   2000000     Carolina Reaper     Actually ate pepper spray

In [54]:
# --- Added the code here ---
dataframe.drop(1, inplace=True)
# ---------------------------

print(dataframe)

   Scoville                Name                       Feeling
0        50         Bell pepper                Not even spicy
2     10000      Serrano pepper                 I regret this
3     60000    Bird's eye chili            4th stage of grief
4    500000  Chocolate habanero  Practically ate pepper spray
5   2000000     Carolina Reaper     Actually ate pepper spray

#### Exercise 21 Renaming Rows (Index Labeled)

In [55]:
import pandas as pd

dataframe  = pd.read_csv('peppers.csv')

print(dataframe)

   Scoville                Name                       Feeling
0        50         Bell pepper                Not even spicy
1      5000    Espelette pepper                 Uncomfortable
2     10000      Serrano pepper                 I regret this
3     60000    Bird's eye chili            4th stage of grief
4    500000  Chocolate habanero  Practically ate pepper spray
5   2000000     Carolina Reaper     Actually ate pepper spray

In [57]:
# --- Added the code here ---
dataframe.rename({0:"First", 1:"Second"}, inplace=True)
# ---------------------------

print(dataframe)

        Scoville                Name                       Feeling
First         50         Bell pepper                Not even spicy
Second      5000    Espelette pepper                 Uncomfortable
2          10000      Serrano pepper                 I regret this
3          60000    Bird's eye chili            4th stage of grief
4         500000  Chocolate habanero  Practically ate pepper spray
5        2000000     Carolina Reaper     Actually ate pepper spray

#### Exercise 22 Dropping Duplicate Rows

In [58]:
import pandas as pd

dataframe  = pd.read_csv('peppers.csv')

print(dataframe)

   Scoville                Name                       Feeling
0        50         Bell pepper                Not even spicy
1      5000    Espelette pepper                 Uncomfortable
2     10000      Serrano pepper                 I regret this
3     60000    Bird's eye chili            4th stage of grief
4    500000  Chocolate habanero  Practically ate pepper spray
5   2000000     Carolina Reaper     Actually ate pepper spray

In [59]:
dataframe.loc[6] = [2000000, 'Carolina Reaper', 'Actually ate pepper spray']

print(dataframe)

   Scoville                Name                       Feeling
0        50         Bell pepper                Not even spicy
1      5000    Espelette pepper                 Uncomfortable
2     10000      Serrano pepper                 I regret this
3     60000    Bird's eye chili            4th stage of grief
4    500000  Chocolate habanero  Practically ate pepper spray
5   2000000     Carolina Reaper     Actually ate pepper spray
6   2000000     Carolina Reaper     Actually ate pepper spray

In [61]:
# --- Added the code here ---
dataframe.drop_duplicates(inplace=True)
# ---------------------------

print(dataframe)

   Scoville                Name                       Feeling
0        50         Bell pepper                Not even spicy
1      5000    Espelette pepper                 Uncomfortable
2     10000      Serrano pepper                 I regret this
3     60000    Bird's eye chili            4th stage of grief
4    500000  Chocolate habanero  Practically ate pepper spray
5   2000000     Carolina Reaper     Actually ate pepper spray

#### Exercise 23 Renaming Columns

In [63]:
import pandas as pd

dataframe  = pd.read_csv('peppers.csv')

print(dataframe)

   Scoville                Name                       Feeling
0        50         Bell pepper                Not even spicy
1      5000    Espelette pepper                 Uncomfortable
2     10000      Serrano pepper                 I regret this
3     60000    Bird's eye chili            4th stage of grief
4    500000  Chocolate habanero  Practically ate pepper spray
5   2000000     Carolina Reaper     Actually ate pepper spray

In [64]:
# --- Added the code here ---
dataframe.rename({"Feeling":"Measure of Pain"}, inplace=True)
# ---------------------------

print(dataframe)

   Scoville                Name                       Feeling
0        50         Bell pepper                Not even spicy
1      5000    Espelette pepper                 Uncomfortable
2     10000      Serrano pepper                 I regret this
3     60000    Bird's eye chili            4th stage of grief
4    500000  Chocolate habanero  Practically ate pepper spray
5   2000000     Carolina Reaper     Actually ate pepper spray

#### Exercise 24 DataFrame Shapes

In [65]:
import pandas as pd

dataframe  = pd.read_csv('peppers.csv')

print(dataframe)

   Scoville                Name                       Feeling
0        50         Bell pepper                Not even spicy
1      5000    Espelette pepper                 Uncomfortable
2     10000      Serrano pepper                 I regret this
3     60000    Bird's eye chili            4th stage of grief
4    500000  Chocolate habanero  Practically ate pepper spray
5   2000000     Carolina Reaper     Actually ate pepper spray

In [66]:
# --- Added the code here ---
print(dataframe.shape)
# ---------------------------

(6, 3)

In [67]:
print("Rows: ", dataframe.shape[0])
print("Columns: ", dataframe.shape[1])

Rows:  6
Columns:  3

#### Exercise 25 Grouping Data in DataFrames

In [44]:
import pandas as pd

students = {
    'Name' : ['John', 'John', 'Grace', 'Grace', 'Benjamin', 'Benjamin', 'Benjamin', 
              'Benjamin', 'John', 'Alex', 'Alex', 'Alex'],
    'Position' : [2, 1, 1, 4, 2, 4, 3, 1, 3, 2, 4, 3],
    'Year' : [2009, 2010, 2009, 2010, 2010, 2010, 2011, 2012, 2011, 2013, 2013, 2012],
    'Marks' : [408, 398, 422, 376, 401, 380, 396, 388, 356, 402, 368, 378]  
}

dataframe = pd.DataFrame(students)

print(dataframe)

        Name  Position  Year  Marks
0       John         2  2009    408
1       John         1  2010    398
2      Grace         1  2009    422
3      Grace         4  2010    376
4   Benjamin         2  2010    401
5   Benjamin         4  2010    380
6   Benjamin         3  2011    396
7   Benjamin         1  2012    388
8       John         3  2011    356
9       Alex         2  2013    402
10      Alex         4  2013    368
11      Alex         3  2012    378

In [45]:
# --- Added the code here ---
group = dataframe.groupby('Year')
# ---------------------------

In [46]:
print(type(group.groups))

<class 'pandas.io.formats.printing.PrettyDict'>

In [47]:
group

In [48]:
# --- Added the code here ---
print(group.groups)
# ---------------------------

{2009: [0, 2], 2010: [1, 3, 4, 5], 2011: [6, 8], 2012: [7, 11], 2013: [9, 10]}

In [49]:
# --- Added the code here ---
result = group.get_group(2011)
# ---------------------------

print(result)

       Name  Position  Year  Marks
6  Benjamin         3  2011    396
8      John         3  2011    356

#### Exercise 26 Descriptive Statistics

In [75]:
import pandas as pd

students = {
    'Name' : ['John', 'Alice', 'Joseph', 'Alex'],
    'English' : [64, 78, 68, 58],
    'Math' : [76, 54, 72, 64]
}

dataframe = pd.DataFrame(students)

print(dataframe)

     Name  English  Math
0    John       64    76
1   Alice       78    54
2  Joseph       68    72
3    Alex       58    64

In [77]:
# --- Added the code here ---
dataframe.describe()
# ---------------------------

         English       Math
count   4.000000   4.000000
mean   67.000000  66.500000
std     8.406347   9.712535
min    58.000000  54.000000
25%    62.500000  61.500000
50%    66.000000  68.000000
75%    70.500000  73.000000
max    78.000000  76.000000

#### Exercise 27 DataFrame.head( ) and DataFrame.tail( )

In [78]:
import pandas as pd

dataframe  = pd.read_csv('peppers.csv')

print(dataframe)

   Scoville                Name                       Feeling
0        50         Bell pepper                Not even spicy
1      5000    Espelette pepper                 Uncomfortable
2     10000      Serrano pepper                 I regret this
3     60000    Bird's eye chili            4th stage of grief
4    500000  Chocolate habanero  Practically ate pepper spray
5   2000000     Carolina Reaper     Actually ate pepper spray

In [80]:
# --- Added the code here ---
print(dataframe.head(3))
# ---------------------------

   Scoville              Name         Feeling
0        50       Bell pepper  Not even spicy
1      5000  Espelette pepper   Uncomfortable
2     10000    Serrano pepper   I regret this

In [81]:
# --- Added the code here ---
print(dataframe.tail(3))
# ---------------------------

   Scoville                Name                       Feeling
3     60000    Bird's eye chili            4th stage of grief
4    500000  Chocolate habanero  Practically ate pepper spray
5   2000000     Carolina Reaper     Actually ate pepper spray

#### Reshaping DataFrames

- Transpose
- Stack
- Unstack
- Melt
- Pivot

In [82]:
import pandas as pd

students = {
    'Name' : ['John', 'John', 'Grace', 'Grace', 'Benjamin', 'Benjamin', 'Benjamin', 
              'Benjamin', 'John', 'Alex', 'Alex', 'Alex'],
    'Position' : [2, 1, 1, 4, 2, 4, 3, 1, 3, 2, 4, 3],
    'Year' : [2009, 2010, 2009, 2010, 2010, 2010, 2011, 2012, 2011, 2013, 2013, 2012],
    'Marks' : [408, 398, 422, 376, 401, 380, 396, 388, 356, 402, 368, 378]  
}

df = pd.DataFrame(students)

print(df)

        Name  Position  Year  Marks
0       John         2  2009    408
1       John         1  2010    398
2      Grace         1  2009    422
3      Grace         4  2010    376
4   Benjamin         2  2010    401
5   Benjamin         4  2010    380
6   Benjamin         3  2011    396
7   Benjamin         1  2012    388
8       John         3  2011    356
9       Alex         2  2013    402
10      Alex         4  2013    368
11      Alex         3  2012    378

#### Exercise 28 Transposing a DataFrame

In [83]:
# --- Added the code here ---
df_transposed = df.transpose()
# ---------------------------

print(df_transposed)

            0     1      2      3         4         5         6         7   \
Name      John  John  Grace  Grace  Benjamin  Benjamin  Benjamin  Benjamin
Position     2     1      1      4         2         4         3         1
Year      2009  2010   2009   2010      2010      2010      2011      2012
Marks      408   398    422    376       401       380       396       388

            8     9     10    11
Name      John  Alex  Alex  Alex
Position     3     2     4     3
Year      2011  2013  2013  2012
Marks      356   402   368   378

In [84]:
# --- Added the code here ---
df_T = df.T
# ---------------------------

print(df_T)

            0     1      2      3         4         5         6         7   \
Name      John  John  Grace  Grace  Benjamin  Benjamin  Benjamin  Benjamin
Position     2     1      1      4         2         4         3         1
Year      2009  2010   2009   2010      2010      2010      2011      2012
Marks      408   398    422    376       401       380       396       388

            8     9     10    11
Name      John  Alex  Alex  Alex
Position     3     2     4     3
Year      2011  2013  2013  2012
Marks      356   402   368   378

#### Exercise 29 Stacking a DataFrame

In [85]:
# --- Added the code here ---
df_stacked = df.stack()
# ---------------------------

print(df_stacked)

0   Name            John
    Position           2
    Year            2009
    Marks            408
1   Name            John
    Position           1
    Year            2010
    Marks            398
2   Name           Grace
    Position           1
    Year            2009
    Marks            422
3   Name           Grace
    Position           4
    Year            2010
    Marks            376
4   Name        Benjamin
    Position           2
    Year            2010
    Marks            401
5   Name        Benjamin
    Position           4
    Year            2010
    Marks            380
6   Name        Benjamin
    Position           3
    Year            2011
    Marks            396
7   Name        Benjamin
    Position           1
    Year            2012
    Marks            388
8   Name            John
    Position           3
    Year            2011
    Marks            356
9   Name            Alex
    Position           2
    Year            2013
    Marks            402
10  Name            Alex
    Position           4
    Year            2013
    Marks            368
11  Name            Alex
    Position           3
    Year            2012
    Marks            378
dtype: object

In [86]:
# --- Added the code here ---
student = df_stacked.loc[1]
# ---------------------------

print(student)

Name        John
Position       1
Year        2010
Marks        398
dtype: object

In [87]:
# --- Added the code here ---
print(student.Marks)
# ---------------------------

398

#### Exercise 30 Unstacking a DataFrame

In [88]:
print(df_stacked)

0   Name            John
    Position           2
    Year            2009
    Marks            408
1   Name            John
    Position           1
    Year            2010
    Marks            398
2   Name           Grace
    Position           1
    Year            2009
    Marks            422
3   Name           Grace
    Position           4
    Year            2010
    Marks            376
4   Name        Benjamin
    Position           2
    Year            2010
    Marks            401
5   Name        Benjamin
    Position           4
    Year            2010
    Marks            380
6   Name        Benjamin
    Position           3
    Year            2011
    Marks            396
7   Name        Benjamin
    Position           1
    Year            2012
    Marks            388
8   Name            John
    Position           3
    Year            2011
    Marks            356
9   Name            Alex
    Position           2
    Year            2013
    Marks            402
10  Name            Alex
    Position           4
    Year            2013
    Marks            368
11  Name            Alex
    Position           3
    Year            2012
    Marks            378
dtype: object

In [89]:
# --- Added the code here ---
df_unstacked = df_stacked.unstack()
# ---------------------------

print(df_unstacked)

        Name Position  Year Marks
0       John        2  2009   408
1       John        1  2010   398
2      Grace        1  2009   422
3      Grace        4  2010   376
4   Benjamin        2  2010   401
5   Benjamin        4  2010   380
6   Benjamin        3  2011   396
7   Benjamin        1  2012   388
8       John        3  2011   356
9       Alex        2  2013   402
10      Alex        4  2013   368
11      Alex        3  2012   378

#### Exercise 31 Pivoting a DataFrame

In [91]:
import pandas as pd

students = {
    'Name' : ['John', 'John', 'Victoria', 'Victoria'],
    'Year' : [2009, 2010, 2009, 2010],
    'Marks' : [400, 600, 700, 300]
}

df = pd.DataFrame(students)

print(df)

       Name  Year  Marks
0      John  2009    400
1      John  2010    600
2  Victoria  2009    700
3  Victoria  2010    300

In [92]:
# --- Added the code here ---
df_pivoted = df.pivot(index='Name', columns='Year', values='Marks')
# ---------------------------

print(df_pivoted)

Year      2009  2010
Name
John       400   600
Victoria   700   300

#### Exercise 32 Melting a DataFrame

In [93]:
import pandas as pd

students = {
    'Name' : ['John', 'John', 'Victoria', 'Victoria'],
    'Year' : [2009, 2010, 2009, 2010],
    'Marks' : [400, 600, 700, 300]
}

df = pd.DataFrame(students)

# Check original DataFrame
print(df)

       Name  Year  Marks
0      John  2009    400
1      John  2010    600
2  Victoria  2009    700
3  Victoria  2010    300

In [94]:
# Melt DataFrame with default settings

# --- Added the code here ---
df_melted = df.melt()
# ---------------------------

# Check melted DataFrame
print(df_melted)

   variable     value
0      Name      John
1      Name      John
2      Name  Victoria
3      Name  Victoria
4      Year      2009
5      Year      2010
6      Year      2009
7      Year      2010
8     Marks       400
9     Marks       600
10    Marks       700
11    Marks       300

In [96]:
# --- Added the code here ---
df_melted = df.melt(var_name='Variables', value_name='Values')
# ---------------------------

print(df_melted)

   Variables    Values
0       Name      John
1       Name      John
2       Name  Victoria
3       Name  Victoria
4       Year      2009
5       Year      2010
6       Year      2009
7       Year      2010
8      Marks       400
9      Marks       600
10     Marks       700
11     Marks       300

In [97]:
# --- Added the code here ---
df_melted = df.melt(id_vars='Name', value_vars='Marks')
# ---------------------------

print(df_melted)

       Name variable  value
0      John    Marks    400
1      John    Marks    600
2  Victoria    Marks    700
3  Victoria    Marks    300

#### Exercise 33 Melting and Unmelting a DataFrame

In [98]:
import pandas as pd

students = {
    'Name' : ['John', 'Victoria'],
    'Year' : [2009, 2010],
    'Marks' : [400, 300]
}

df = pd.DataFrame(students)
print("Original DataFrame:")
print(df)

Original DataFrame:
       Name  Year  Marks
0      John  2009    400
1  Victoria  2010    300

In [99]:
# Melted DataFrame
melted_df = df.melt(id_vars='Name', var_name='Variable', value_name='Value')
print("Melted DataFrame:")
print(melted_df)

Melted DataFrame:
       Name Variable  Value
0      John     Year   2009
1  Victoria     Year   2010
2      John    Marks    400
3  Victoria    Marks    300

In [100]:
# Unmelted DataFrame

# --- Added the code here ---
unmelted_df = melted_df.pivot(index='Name', columns='Variable')['Value']
unmelted_df
# ---------------------------

print("Unmelted DataFrame:")
print(unmelted_df)

Unmelted DataFrame:
Variable  Marks  Year
Name
John        400  2009
Victoria    300  2010

#### Exercise 34 Filtering the DataFrame

In [101]:
import pandas as pd

df  = pd.read_csv('peppers.csv')

print(df)

   Scoville                Name                       Feeling
0        50         Bell pepper                Not even spicy
1      5000    Espelette pepper                 Uncomfortable
2     10000      Serrano pepper                 I regret this
3     60000    Bird's eye chili            4th stage of grief
4    500000  Chocolate habanero  Practically ate pepper spray
5   2000000     Carolina Reaper     Actually ate pepper spray

In [102]:
# --- Added the code here ---
df.Scoville > 50000
# ---------------------------

0    False
1    False
2    False
3     True
4     True
5     True
Name: Scoville, dtype: bool

In [103]:
# --- Added the code here ---
df[df.Scoville >= 50000]
# ---------------------------

   Scoville                Name                       Feeling
3     60000    Bird's eye chili            4th stage of grief
4    500000  Chocolate habanero  Practically ate pepper spray
5   2000000     Carolina Reaper     Actually ate pepper spray

In [104]:
# --- Added the code here ---
df.loc[df.Scoville >= 50000,['Scoville','Name']]
# ---------------------------

   Scoville                Name
3     60000    Bird's eye chili
4    500000  Chocolate habanero
5   2000000     Carolina Reaper

-----

#### Revised Date: July 18, 2024