#### Exercise 1 Create a Tuple

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

#### Allow Duplicates

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

#### Tuple Length

In [2]:
thistuple = ("apple", "banana", "cherry")

# --- Added the code here ---
print(len(thistuple))
# ---------------------------

3

#### Create Tuple With One Item

In [4]:
# --- Added the code here ---
thistuple = ("Orange",)
# ---------------------------

print(type(thistuple))

<class 'tuple'>

In [6]:
#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'str'>

#### Tuple Items - Data Types

In [7]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [8]:
tuple1 = ("abc", 34, True, 40, "male")

print(tuple1)

('abc', 34, True, 40, 'male')

#### Exercise 2 The tuple Constructor

In [9]:
# --- Added the code here ---
thistuple = (("apple", "banana", "cherry")) # note the double round-brackets
# ---------------------------

print(thistuple)

('apple', 'banana', 'cherry')

#### Exercise 3 Access Tuple Items

In [ ]:
thistuple = ("apple", "banana", "cherry")

# --- Added the code here ---
print(thistuple[])
# ---------------------------

#### Negative Indexing

In [ ]:
thistuple = ("apple", "banana", "cherry")

# --- Added the code here ---
print(thistuple[])
# ---------------------------

#### Range of Indexes

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

# --- Added the code here ---
print(thistuple[])
# ---------------------------

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

# --- Added the code here ---
print(thistuple[])
# ---------------------------

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

# --- Added the code here ---
print(thistuple[])
# ---------------------------

#### Range of Negative Indexes

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

# --- Added the code here ---
print(thistuple[])
# ---------------------------

#### Exercise 4 Check if Item Exists

In [ ]:
thistuple = ("apple", "banana", "cherry")

# --- Added the code here ---
#
# ---------------------------   
    print("Yes, 'apple' is in the fruits tuple")

#### Python - Update Tuples

#### Exercise 5 Change Tuple Values

In [ ]:
x = ("apple", "banana", "cherry")

# --- Added the code here ---
#
# ---------------------------

print(x)

#### Exercise 6 Add Items

In [ ]:
thistuple = ("apple", "banana", "cherry")

# --- Added the code here ---
#
# ---------------------------

print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry")

# --- Added the code here ---
#
# ---------------------------

print(thistuple)

#### Exercise 7 Remove Items

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)

# --- Added the code here ---
y.remove()
# ---------------------------

thistuple = tuple(y)

print(thistuple)

#### Exercise 8 Unpacking a Tuple

In [ ]:
fruits = ("apple", "banana", "cherry")

print(fruits)

In [ ]:
fruits = ("apple", "banana", "cherry")

# --- Added the code here ---
#
# ---------------------------

print(green)
print(yellow)
print(red)

#### Using Asterisk*

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

# --- Added the code here ---
(green, yellow, red) = fruits
# ---------------------------

print(green)
print(yellow)
print(red)

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

# --- Added the code here ---
(green, tropic, red) = fruits
# ---------------------------

print(green)
print(tropic)
print(red)

#### Exercise 9 Loop Through a Tuple

In [ ]:
thistuple = ("apple", "banana", "cherry")

# --- Added the code here ---
#
# ---------------------------    
    print(x)

#### Loop Through the Index Numbers

In [ ]:
thistuple = ("apple", "banana", "cherry")

# --- Added the code here ---
#
# ---------------------------    
    print(thistuple[i])

#### Exercise 10 Using a While Loop

In [ ]:
thistuple = ("apple", "banana", "cherry")

# --- Added the code here ---

while 
    print(thistuple[i])
    
# ---------------------------

#### Exercise 11 Join Two Tuples

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

# --- Added the code here ---
#
# ---------------------------

print(tuple3)

#### Exercise 12 Multiply Tuples

In [ ]:
fruits = ("apple", "banana", "cherry")

# --- Added the code here ---
mytuple = fruits 
# ---------------------------

print(mytuple)

### Python Sets

#### Exercise 13 Creating a set

In [ ]:
# --- Added the code here ---
thisset = "apple", "banana", "cherry"
# ---------------------------

print(thisset)

#### Exercise 14 Duplicates Not Allowed

In [10]:
# --- Added the code here ---
thisset = {"", "banana", "cherry", ""}
# ---------------------------

print(thisset)

{'', 'cherry', 'banana'}

In [11]:
# --- Added the code here ---
thisset = {"apple", "banana", "cherry", , , 2}
# ---------------------------

print(thisset)

SyntaxError: invalid syntax (1821222723.py, line 2)

#### Exercise 15 Get the Length of a Set

In [12]:
thisset = {"apple", "banana", "cherry"}

# --- Added the code here ---
print(len(thisset))
# ---------------------------

3

#### Exercise 16 Set Items - Data Types

In [13]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'banana', 'cherry', 'apple'}
{1, 3, 5, 7, 9}
{False, True}

In [ ]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

#### Exercise 17 Access Items

In [14]:
thisset = {"apple", "banana", "cherry"}

# --- Added the code here ---
for x in thisset:
# ---------------------------   
    print(x)

banana
cherry
apple

In [16]:
thisset = {"apple", "banana", "cherry"}

# --- Added the code here ---
print("banana" in thisset)
# ---------------------------

True

#### Exercise 18 Add Items

In [17]:
thisset = {"apple", "banana", "cherry"}

# --- Added the code here ---
thisset.add("Leechie")
# ---------------------------

print(thisset)

{'banana', 'Leechie', 'cherry', 'apple'}

#### Exercise 19 Add Sets

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

# --- Added the code here ---
thisset.update()
# ---------------------------

print(thisset)

#### Exercise 20 Remove Item

In [19]:
thisset = {"apple", "banana", "cherry"}

# --- Added the code here ---
thisset.remove("cherry")
# ---------------------------

print(thisset)

{'banana', 'apple'}

In [18]:
thisset = {"apple", "banana", "cherry"}

# --- Added the code here ---
thisset.discard("banana")
# ---------------------------

print(thisset)

{'cherry', 'apple'}

In [20]:
thisset = {"apple", "banana", "cherry"}

# --- Added the code here ---
x = thisset.pop()
# ---------------------------

print(x)
print(thisset)

banana
{'cherry', 'apple'}

In [21]:
thisset = {"apple", "banana", "cherry"}
# empty the set
# --- Added the code here ---
thisset.clear()
# ---------------------------

print(thisset)

set()

#### Exercise 21 Join Two Sets

In [22]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

# --- Added the code here ---
set3 = set1.union(set2)
# ---------------------------

print(set3)

{'a', 1, 2, 3, 'c', 'b'}

In [24]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

# --- Added the code here ---
set1.update(set2)
# ---------------------------

print(set1)

{'a', 1, 2, 3, 'c', 'b'}

#### Exercise 22 Keep ONLY the Duplicates

In [25]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

# --- Added the code here ---
x.intersection_update(y)
# ---------------------------

print(x)

{'apple'}

In [26]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

# --- Added the code here ---
z= x.intersection(y)
# ---------------------------

print(z)

{'apple'}

#### Exercise 23 Keep All, But NOT the Duplicates

In [27]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

# --- Added the code here ---
x.symmetric_difference_update(y)
# ---------------------------

print(x)

{'microsoft', 'banana', 'cherry', 'google'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

# --- Added the code here ---

# ---------------------------

print(z)

In [ ]:
x = {"apple", "banana", "cherry", True}
y = {"google", 1, "apple", 2}

z = x.symmetric_difference(y)

print(z)

### Python Dictionaries

#### Exercise 24 Creating a dictionary

In [ ]:
# --- Added the code here ---
thisdict = {
  "brand": 
  "model": 
  "year": 
}
# ---------------------------

print(thisdict)

#### Exercise 25 Dictionary Items

In [29]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

# --- Added the code here ---
print(thisdict)
# ---------------------------

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

#### Exercise 26 Duplicates Not Allowed

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}

print(thisdict)

#### Exercise 27 Dictionary Length

In [32]:
# --- Added the code here ---
print(len(thisdict))
# ---------------------------

3

#### Exercise 28 Accessing Items

In [34]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

# --- Added the code here ---
x = thisdict["model"]
# ---------------------------

print(x)

Mustang

In [35]:
# --- Added the code here ---
# also to get the value of the selected value present in the dictionary
x = thisdict.get("brand")
# ---------------------------

print(x)

Ford

#### Exercise 29 Get Keys

In [36]:
# --- Added the code here ---
x = thisdict
# ---------------------------

print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [37]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print("Before: ", x) #before the change

car["color"] = "white"

print("After: ", x) #after the change

Before:  dict_keys(['brand', 'model', 'year'])
After:  dict_keys(['brand', 'model', 'year', 'color'])

#### Exercise 30 Get Values

In [39]:
# --- Added the code here ---
x = thisdict.values()
# ---------------------------
# To see all the values present in the dictionary

print(x)

dict_values(['Ford', 'Mustang', 1964])

In [40]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
CHanging the values of the dictionsry items
x = car.values()

# print("Before: ", x) #before the change

car["year"] = 2020

print("After: ", x) #after the change

Before:  dict_values(['Ford', 'Mustang', 1964])
After:  dict_values(['Ford', 'Mustang', 2020])

In [41]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
# Addition of the key values
x = car.values()

print("Before: ", x) #before the change

car["color"] = "red"

print("After: ", x) #after the change

Before:  dict_values(['Ford', 'Mustang', 1964])
After:  dict_values(['Ford', 'Mustang', 1964, 'red'])

#### Exercise 31 Get Items

In [42]:
# --- Added the code here ---
x = thisdict
# ---------------------------

print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [43]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print("Before: ", x) #before the change

car["year"] = 2020

print("After: ", x) #after the change

Before:  dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
After:  dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [44]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print("Before: ", x) #before the change

car["color"] = "red"

print("After: ", x) #after the change

Before:  dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
After:  dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

#### Exercise 32 Check if Key Exists

In [46]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

# --- Added the code here ---
if "model" in thisdict:
# ---------------------------
    print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

#### Exercise 33 Change Values

In [47]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print("Before: ", thisdict) #before the change

# --- Added the code here ---
thisdict["year"] = 2025
# ---------------------------

print("After: ", thisdict) #after the change

Before:  {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
After:  {'brand': 'Ford', 'model': 'Mustang', 'year': 2025}

#### Exercise 34 Update Dictionary

In [48]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print("Before: ", thisdict) #before the change

# --- Added the code here ---
thisdict.update({"year":2024})
# ---------------------------

print("After: ", thisdict) #after the change

Before:  {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
After:  {'brand': 'Ford', 'model': 'Mustang', 'year': 2024}

#### Exercise 35 Removing Items

In [49]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print("Before: ", thisdict) #before the change

# --- Added the code here ---
thisdict.pop("model")
# ---------------------------

print("After: ", thisdict) #after the change

Before:  {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
After:  {'brand': 'Ford', 'year': 1964}

In [53]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print("Before: ", thisdict) #before the change

# --- Added the code here ---
thisdict.popitem()
# ---------------------------

print("After: ", thisdict) #after the change

Before:  {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
After:  {'brand': 'Ford', 'model': 'Mustang'}

In [55]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

# --- Added the code here ---
thisdict.clear()
# ---------------------------

print(thisdict)

{}

#### Exercise 36 Copy a Dictionary

In [57]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

# --- Added the code here ---
mydict = thisdict.copy()
# ---------------------------
print(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [58]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

# --- Added the code here ---
mydict = (thisdict)
# ---------------------------

print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

#### Exercise 37 Nested Dictionaries

In [60]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)
myfamily

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [61]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)
myfamily

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

#### Exercise 38 Access Items in Nested Dictionaries

In [62]:
# --- Added the code here ---
print(myfamily["child2"]["name"])
# ---------------------------

Tobias

In [63]:
# --- Added the code here ---
print(myfamily["child3"]["year"])
# ---------------------------

2011

-----

#### Revised Date: July 18, 2024